:root {
  color: rgb(255 255 255 / 87%);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --primary: #7b61ff;
  --primary2: #917cff;
  --secondary: #80858b;
  --black: #000;
  --dark: #242426;
  --graphite: #323537;
  --error: #ff5154;
  --light: #afb2b6;
  --white: #fff;
  --green: #00a340;
  --yellow: #f3a608;
  --orange: #f45d2d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}

:root,
body,
.root {
  height: 100%;
}

.root {
  padding: 2rem 1.5rem 3rem;
}

button {
  cursor: pointer;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
}
