.TreeNode {
  padding-left: 25px;

  &__row {
    display: flex;

    &:hover {
      background-color: lightcyan;
      cursor: pointer;
    }

    &--with-toggle {
      margin-left: -16px;
    }
  }
}